*{
    /* Resetando a configuração padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}

body{
    /* Cor do fundo */
    background-color: whitesmoke;
}

.info{
    /* Estilo dos titulos */
    text-align: center;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.result{
    /* Estilo do visor da Calculadora */
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid #25968a;
}

.calculator{
    /* Estilo da Calculadora */
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #000807;
}

table td{
    /* Configuração da tabela dos botões */
    display: inline-block;
}

.btn{
    /* Estilo dos botões */
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0c1a21;
    color: #dfdfdf;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}

.btn:hover{
    /* Cor de fundo do botão ao passar o mouse */
    background-color: #162f3b;
}

.ac{
    /* Cor do fundo do botão */
    background-color: #1b7269;
}

.ac:hover{
    background-color: #228f84;
}

.especial{
    background-color: #228f84;
}

.especial:hover{
    background-color: #18646b;
}

.igual{
    background-color: #1b7269;
}

.igual:hover{
    background-color: #25968a;
}

#rodape{
    /* Estilo do roda-pé */
    border-top: 0.4px solid #000807;
}